@page
@model RazorSample.Pages.Materials.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Material</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Material.MaterialName" class="control-label"></label>
                <input asp-for="Material.MaterialName" class="form-control" />
                <span asp-validation-for="Material.MaterialName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Material.Quantity" class="control-label"></label>
                <input asp-for="Material.Quantity" class="form-control" />
                <span asp-validation-for="Material.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Material.Unit" class="control-label"></label>
                <input asp-for="Material.Unit" class="form-control" />
                <span asp-validation-for="Material.Unit" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label asp-for="Material.Status" class="control-label"></label>
                <input asp-for="Material.Status" class="form-control" />
                <span asp-validation-for="Material.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Material.ReceiptDate" class="control-label"></label>
                <input asp-for="Material.ReceiptDate" class="form-control" />
                <span asp-validation-for="Material.ReceiptDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
